.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 16px; /* Gap between grid items */
}

.grid-item {
  background-color: rgb(244, 244, 244);
  padding: 20px;

  height: 100%;

  border-radius: 10px;

  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.grid-item.blank {
  background-color: transparent;
  border: none;
}
